
    <!DOCTYPE html>
    <html>
      <head>
      <style type="text/css">
      form {
          display: inline;
      }
        table.tableizer-table {
          font-size: 12px;
          border: 1px solid #CCC;
          font-family: Arial, Helvetica, sans-serif;
        }
        .tableizer-table td {
          padding: 4px;
          margin: 3px;
          border: 1px solid #CCC;
        }
        .tableizer-table th {
          background-color: #104E8B;
          color: #FFF;
          font-weight: bold;
        }
      </style>

        <meta charset="utf-8">
        <title>Tarefas {% block titulo%}{% endblock %}</title>
        <!-- Latest compiled and minified CSS -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

      </head>
      <body>
          <div class = "container">
              <nav class = "navbar navbar-default">
                <div class = "container-fluid">
                  <div class = "navbar-header">
                    <h1>Enterprise Data Repository</h1>
                  </div>
                </div>
              </nav>
              <div class= "jumbotron">
                {% block conteudo %}
                {% endblock %}
              </div>
            </div>
      </body>
    </html>
